[submodule "external/libklv"]
	path = external/libklv
	url = git@github.com:Hunter522/libklv.git
[submodule "external/libtar"]
	path = external/libtar
	url = https://github.com/Parrot-Developers/libtar.git
[submodule "external/microtar"]
	path = external/microtar
	url = https://github.com/rxi/microtar.git
